---
---

$logo-big: 180px;
$logo: 80px;
$big-padding: 100px;
$collapse: 700px;
$sticky: true;

// @font-face {
//   font-family: "ericsson hilda";
//   src: url('../fonts/ericsson-hilda-bold.eot?#iefix') format('embedded-opentype'), 
//     url('../fonts/ericsson-hilda-bold.woff') format('woff'),
//     url('../fonts/ericsson-hilda-bold.woff2') format('woff2'), 
//     url('../fonts/ericsson-hilda-bold.ttf.ttf')  format('truetype'),
//     url('../fonts/ericsson-hilda-bold.svg#EricssonHilda-Bold') format('svg');
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  box-shadow: var(--shadow);

  @if $sticky {
    position: sticky !important;
    top: 0;
    z-index: 10 !important;
  }
}

header a {
  color: var(--text);
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 20px;
}

.logo {
  height: $logo;
}

.logo > * {
  height: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  font-family: "ericsson hilda";
  text-align: left;
  padding: 20px;
}

// main title
.title > *:first-child {
  font-size: var(--large);
}

// subtitle
.title > *:last-child {
  opacity: 1;
  font-weight: var(--large);
}

.nav-toggle {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  color: var(--text);
  -webkit-appearance: none;
  appearance: none;
  transition-property: background;
  // background-color: black;
}

.nav-toggle:after {
  content: "\f0c9";
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--text);
  font-size: 15px;
  font-family: "ericsson";
  font-weight: 900;
  transform: translate(-50%, -50%);
  // background-color: black;
}

.nav-toggle:checked:after {
  content: "\f00d";
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--heading);
  text-transform: uppercase;
  background-color: black;
  padding: 0px;
  width: 100%;
}

nav > a {
  padding: 15px;
}

nav > a:hover {
  color: var(--primary);
}

header:not([data-big]) {
  padding: 30px 0px 0px 0px;
  @media (max-width: $collapse) {
    justify-content: flex-end;

    .nav-toggle {
      display: flex;
    }

    .nav-toggle:not(:checked) + nav {
      display: none;
    }

    nav {
      align-items: flex-end;
      flex-direction: column;
      width: 100%;
    }
  }
}

header[data-big] {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $big-padding 0px 0px 0px;

  @if $sticky {
    top: unset;
  }

  .home {
    flex-direction: column;
    flex-grow: 0;
    padding-left: 0px;
  }

  .logo {
    height: $logo-big;
  }

  .title {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title > *:first-child {
    font-size: var(--xxl);
  }

  .title > *:last-child {
    font-size: var(--large);
  }
}
