---
---

img {
  max-width: 100%;
  max-height: 100%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-image {
  display: block;
  margin-left: 0;
  margin-right: auto;
}